<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de mercado</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="centrar-hijo">
    <div id="app">
        <div class="totalBox" :class="saldoTotal < 0 && 'alertRed'">
            <!-- Presupuesto no definido -->
            <div v-show="presupuesto == 0">
                <h3>¿Cuál es tu prespuesto para mercar? </h3>
                <center>
                    <input
                        type="currency"
                        id="toPresupuesto"
                        min="1"
                        step="1000"
                        @blur="numberBlur"
                        @focus="numberFocus"
                        @keyup.enter="addPresupuesto"
                    />
                    <button @click="addPresupuesto" type="button" class="btn btn-primary">+</button>
                </center>
            </div>
            <!-- Presupuesto definido -->
            <div v-show="presupuesto > 0">
                <h3>{{ saldoTotal >= 0 ? 'Saldo disponible' : 'Superaste tu presupuesto por'}}: </h3>
                <h2>${{ saldoTotal >= 0 ? formatNum(saldoTotal) : formatNum(saldoTotal*-1) }}</h2>
                <h4>Presupuesto: ${{ formatNum(presupuesto) }} <span @click="editItem(i)">✏</span></h4>
            </div>
        </div>
        <!-- Checkbox slider -->
        <div class="custom-checkbox" v-show="presupuesto > 0">
            <input id="status"
                v-model="handleCompras"
                type="checkbox"
                name="status"
            />
            <label for="status">
                <div class="status-switch"
                    data-unchecked="Pendientes"
                    data-checked="Compras">
                </div>
            </label>
        </div>
        <div class="flexBox" v-show="presupuesto > 0">
            <input
                type="text"
                v-model="title"
                placeholder="Producto"
                :class="handleCompras ? 'lg-input' : 'xlg-input'"
                v-on:keyup.enter="addItem"
            />
            <input
                type="number"
                class="sm-input"
                @blur="numberBlur"
                @focus="numberFocus"
                v-model="value"
                placeholder="Valor"
                v-show="handleCompras"
                v-on:keyup.enter="addItem"
            />
            <button @click="addItem" type="button" class="btn btn-secundary">+</button>
        </div>
        <!-- Lista -->
        <p v-show="products.length == 0 && presupuesto > 0">Aun no has agregado ningún producto</p>
        <div class="listBox" v-show="presupuesto > 0">
            <ul class="listProducts">
                <!-- Lista de Pendientes -->
                <li v-show="!handleCompras" v-for="p in ptosPendientes" :key="p.idPto">
                    <span @click="editItem(p.idPto)">✅</span>
                    {{p.title}}
                    <span @click="removeItem(p.idPto)">❌</span>
                </li>

                <!-- Lista de Compras -->
                <li v-show="handleCompras" v-for="p in ptosComprados" :key="p.idPto">
                    {{p.title}} - ${{formatNum(p.value)}}
                    <span @click="editItem(p.idPto)">✏</span>
                    <span @click="removeItem(p.idPto)">❌</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>