<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente para listas de mercado</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/2e861cfa3a.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="./favicon/manifest.json" />
</head>
<body class="centrar-hijo">
    <div id="app">
        <modal
        :target="targetModal"
        v-show="showModal"
        @close-modal="toggleModal"
        @function-modal="this[functionModal]"
        >
            <template v-slot:title>{{titleModal}}</template>
            <template v-slot:content><div v-html="contentModal"></div></template>
        </modal>
        <!-- Header -->
        <div class="totalBox" :class="saldoTotal < 0 && 'alertRed'">
            <!-- Presupuesto no definido -->
            <div v-show="presupuesto == 0">
                <h3>¿Cuál es  prespuesto para mercar? </h3>
                <center>
                    <input
                        type="number"
                        id="toPresupuesto"
                        min="1"
                        pattern="\d*"
                        step="1000"
                        @blur="numberBlur"
                        @focus="numberFocus"
                        @keyup.enter="addPresupuesto"
                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                    />
                    <button @click="addPresupuesto" type="button" class="btn btn-primary">+</button>
                </center>
            </div>
            <!-- Presupuesto definido -->
            <div v-show="presupuesto > 0">
                <h3>{{ saldoTotal >= 0 ? 'Saldo disponible' : 'Superaste tu presupuesto por'}}: </h3>
                <h2>${{ saldoTotal >= 0 ? formatNum(saldoTotal) : formatNum(saldoTotal*-1) }}</h2>
                <h4>Presupuesto: ${{ formatNum(presupuesto) }} <span @click="modalConstructor(modalEditPresupuesto, 'Editar presupuesto')"><i class="far fa-edit fa-lg"></i></span></h4>
            </div>
        </div>
        <template v-if="presupuesto > 0">
            <div class="flexBox">
                <!-- Checkbox slider -->
                <div class="custom-checkbox">
                    <input
                        id="status"
                        v-model="handleCompras"
                        type="checkbox"
                        name="status"
                    />
                    <label for="status">
                        <div class="status-switch"
                            data-unchecked="Pendiente"
                            data-checked="Compra">
                        </div>
                    </label>
                </div>
                <!-- Form Agregar -->
                <input
                    type="text"
                    v-model="title"
                    placeholder="Producto"
                    :class="handleCompras ? 'lg-input' : 'xlg-input'"
                    v-on:keyup.enter="addItem"
                />
                <input
                    type="number"
                    class="sm-input"
                    @blur="numberBlur"
                    @focus="numberFocus"
                    pattern="\d*"
                    v-model="value"
                    placeholder="Valor"
                    v-show="handleCompras"
                    v-on:keyup.enter="addItem"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                />
                <button @click="addItem" type="button" class="btn btn-secundary">+</button>
            </div>
            <!-- Lista -->
            <p>
                {{ (ptosPendientes.length == 0 && !handleCompras)
                    ? 'Aún no has agregado ningún pendiente'
                    : (ptosComprados.length == 0 && handleCompras)
                        ? 'Aún no has agregado ninguna compra'
                        : ''
                }}
            </p>
            <div class="listBox">
                <ul class="listProducts">
                    <!-- Lista de Pendientes -->
                    <li v-for="p in ptosPendientes" :key="p.idPto">
                        <!-- <input type="checkbox" @click="editItem(p.idPto)" /> -->
                        <span @click="modalConstructor(modalEditItem, p.title, p.idPto)">
                            {{p.title}}
                            <i class="ml-2 color-sec fas fa-cart-arrow-down fa-lg"></i>
                        </span>
                        <span @click="modalConstructor(modalRemoveItem, `Eliminar ${p.title}`, p.idPto)"><i class="color-grey far fa-times-circle fa-lg"></i></span>
                    </li>

                    <!-- Lista de Compras -->
                    <li v-for="p in ptosComprados" :key="p.idPto">
                        <span>
                            <i class="fas fa-check-circle fa-lg mr-1"></i>
                            {{p.title}} - ${{formatNum(p.value)}}

                            <span class="ml-2" @click="modalConstructor(modalEditItem, p.title, p.idPto)"><i class="color-sec far fa-edit fa-lg"></i></span>
                        </span>
                        <span @click="modalConstructor(modalRemoveItem, `Eliminar ${p.title}`, p.idPto)"><i class="color-grey far fa-times-circle fa-lg"></i></span>
                    </li>
                </ul>
            </div>
            <!-- clearBtn -->
            <button
                v-show="products.length > 0"
                type="button"
                @click="cleanAll"
                class="btn btn-small btn-grey btn-limpiar"
            >
                Borrar lista
            </button>
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>